		@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans+Condensed:300');
		@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*img {
	width: 25em;
	padding: 3px 2px;*/
}


body  {
	font-size: 16px;
	color: #333;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
}			
h2 {
	font-size: 1.875em;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 300;
	text-align: center;
}
h1 {
	font-style: italic;
	font-size: 2.5em;
	color: white;
	text-align: right;
	padding-right: 2.5em;
	float:right;
	margin-top: 2.25em;
	margin-right: 2.25em;	
}
hr {
	margin: 1em auto;
	width: 32px;
}


/*#longer_slogan {
	width: 30em;
	font-family: 'Droid Sans', sans-serif;
	font-size: 40px;
	font-style: italic;
	text-align: center;
	margin: 40px auto;
	
}*/
#logo {
  background:url(../images/water.jpg);
  background-size:cover;
  text-align: left;
  padding-left: 5.69em;
  
}

.divisions {
	max-width: 22%;
	font-family: 'Droid Sans', sans-serif;
	text-align: center;
	margin: 1.5%;
	float: left;
	padding: 1.25em;

}
.divisions img {
	width: 406px;
	display: block;
	margin: auto;
	height:19.03em;
	padding: 0.625em;
}
.wrapper {
	background-color: purple;
}

nav a {

	font-family: 'Droid Sans', sans-serif;
	font-size: 1em;
	color: navy;
	padding: 1% .5%;
	font-weight: 600;
	letter-spacing: 1.5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	
	display: inline-block;
	width: 16%;
}



#TGWA, #TWCA {
	float: left;
	padding: 0 2%;
	margin: 0 3%;
	display: inline-block;
	width: 15%;
	text-align: center;
	
}


.contact {
	width: 15%;
	float: left;
	font-size: 1.25em;
	font-family: Arial;
	font-weight: 300;
	text-align: center;
	display: inline-block;
	margin: 0 3.125em;
	padding: 0 1.25em;
	
}


a:hover {
	background-color: #cce6ff;

}

@media only screen and (max-width: 1890px) {
	nav a {
		width: 12%;
	}
	.divisions {
		max-width: 12%;
	}
 }
}


/*#intro {
	
	
	height: 75vh;
	padding: 10em 0 0;*/
}
