* {
	/*border: solid;
	border-color: black;*/
	
	padding: 0;
	margin: none;
}

img {
	width: 45em;
	padding: 3px 2px;
}
hr {
	width: 20em;
}


body  {
	font-size: 16px;
	background: url(../images/water.jpg);
	background-size: cover;
	color: white;
	font-family: 'Patrick Hand SC';
	text-align: center;
}			
h2 {
	font-size: 2em;
	font-family: Arial;
	background-color: #FFED74;
}


aside {
	width: 30em;
	font-family: 'Patrick Hand SC', cursive;
	font-size: 40px;
	font-style: italic;
	text-align: center;
	margin: 3em auto;
	background-color: ##FFC675;
}
#logo {
  
  text-align: left;
  backgound-color: #FFED74;
}

.divisions {
	width: 45em;
	font-family: 'Times';
	text-align: center;
	margin: 3em auto;
	background-color: #E89C6C;

	
}

.navlinks {
	width: 100em;
	font-family: 'Droid Sans', sans-serif;
	color: navy;
	background-color: #E8C66A;
	border: none;
	padding: .25em 1em;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	margin: 2em 1em;
	
}


footer {
	background-color: #FF957E;
}
