
{
	padding: 0;
	margin: 0;
}
header {background-color: #3536E8;
		padding: 20px;
		color: white;
		font-family: Arial;
}

body  {

			background-color: #89BBFF;
			font-family: Arial;
}



h3 {
			font-style: italic;
	 		font-family: Arial;
}
